@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 1in;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 48pt;
}

div.article h1 {
  font-size: 36pt;
}
div.article h2 {
  font-size: 24pt;
}
