<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>grogers42 {{article.meta.title}}</title>
  </head>
  <body>
    <h1><a href="/">grogers42</a></h1>
    <div class="articles">
      <div class="article">
        <h1><a href="/articles/{{article.meta.slug}}">{{article.meta.title}}</a></h1>
        <h2>{{article.meta.author}}&mdash;<span class="date">{{article.meta.date}}</span></h2>
        <div class="contents">
          {{article.contents | safe}}
        </div>
      </div>
      <script src="/static/js/require.js" data-main="/static/js/dates.js"></script>
      <script src="/static/js/dates.js"></script>
  </body>
</html>
