{"title": "4 Laws Of Certitude", "slug": "4laws", "author": "George Rogers", "date": "2017-07-01T09:14:00-05:00"}

<ol>
  <li>A person absolutely sure of <em>x</em> is either:</li>
  <ol type="A">
    <li>A Charlatan</li>
    <li>Knows only enough to be dangerous</li>
    <li>Correct</li>
  </ol>
  <li>But A and B are far more likely.</li>
  <li>Someone absolutely sure of <em>x</em> will add innumerate epicycles to defend <em>x</em>, so as to not accept reality by exempting it.</li>
  <li>Someone who does not accept reality is always certain, for they accept no higher court (that is to say reality).</li>
</ol>
