{"title": "The Growth Wall",
 "slug": "growthwall",
 "author": "George Rogers",
 "date": "2016-12-12T13:00:00-06:00"}

<p>
<iframe src="//fred.stlouisfed.org/graph/graph-landing.php?g=c7Uq&width=670&height=475" scrolling="no" frameborder="0" style="overflow:hidden; width:670px; height:525px;" allowTransparency="true"></iframe>
</p>
<p>
  This chart shows how the anti growth mentality hurts cities over the long haul, and gives me good reason for the fall of silicon valey (esp. in terms of total jobs).
</p>
