{"title": "The Most Important City In The World: Houston, Texas?", "date": "2016-10-14T08:30:00-05:00", "slug": "houston-important-city", "author": "George Rogers"}

<p>
You might think New York City, with its swindlers on Wall Street, as the most important city in the world, but it is not, Houston is. Energy is the ability to do work, and is therefore life. Where are the decisions made in the Energy Industry? Where is most of the processing done?  And what city lays the foundation for the western world? The answer is Houston!
</p><p>
Like a foundation for a building, the oil and gas industry is only noticed in its absence. This industry works tirelessly providing us with the necessities of life. The energy industry is concentrated in Houston to an amazing degree. A full 25% of the Oil and Gas Extraction jobs in the US are in Houston. In addition 10% of all support personnel for Oil and Gas operations, 9% of oil refinery workers, and 4% percent of all chemical manufacturing jobs are in Houston.
</p>
<div class="figure" id="fig1">
	<img src="/static/pictures/chart.jpg">
	The Chart
</div>
<p>
Houston has the highest cost of living adjusted average salary in the US and most likely the world. This metric shows how important and productive the work that is done in Houston.
But if Houston is so important and productive, why isn't Houston extremely expensive to live in.
The answer is the protection of private property.
</p><p>
The lack of zoning enables the production of large quantities of housing allows the city to grow and add population without rising prices, unlike every other big league coastal city.
Zoning politicizes what you can do with the your property. In Houston you know <em>exactly</em> what you can do with your property when you buy it, and it will never change <em>except as written in the contract</em>.
This is important because asking for arbitrary permission, from city hall, for the use of your property is tyrannical.
For this reason zoning perversely increases the power of penny ante despots over the citizenry, this is another reason zoning should be prohibited.
For example:
Why should I have to ask permission to do something to my property just because I got annexed.
Why should people be able to be rezoned so that they can lose their business.
Why should a town be able to ban chick-fil-a, or Walmart, in a zone where they should be allowed as of right.
</p><p>
Houston has had three referendums on zoning, they were in 1948, 1963, and 1993.
They were rightfully defeated.
The Houston City Charter requires a citywide referendum if the city government wants to impose zoning.
</p>
<div class="figure" id="fig2">
	<img src="/static/pictures/woodlandsmall.jpg"><br>
	The Woodlands Mall.
</div>
<p>
But what chaos would occur if people could do whatever they want with their property, one may ask?
Look at The Woodlands, TX a wonderful master planned community 22  miles north of IAH (Houston's George H.W. Bush Intercontinental Airport.)
It is a wonderful suburban community with all the controls and rules you could ever want, and since it is private sector you agree to the rules up front.
Also the developer (George Mitchel) planned the place to make a buck so it is planned properly for what people actually want (not what they say they want.)
</p><p>
When I took a trip to Houston a week before the class began, I remember sensing the friendliness and especially the professionalism of the rent-a-car staff.
It was one of the best rent-a-car experiences in all my years of traveling.
Also the city felt easy (especially for such an important place). I stayed in Tanglewood, a residential area near the Galleria.
Our Airbnb host could not be any nicer than they were.
</p><p>
That Houston trip was the least stressful vacation I have been on.
And that was me running around with a bucket-list exploring everything you could in a weekend.
No one but an extreme iconoclast (like me) goes to Houston for a vacation, that makes the fact that it has such great food even more impressive. Houston has some of the best Barbecue, Vietnamese, Chinese, New American, and overall food that you could find,  If I lived there I would weigh more than the Blob.
</p><p>
While I was there I met Tory Gattis (over at a very good and fancy restaurant called Underbelly), a writer of the blog Houston Strategies<a href="#gattis1">[1]</a>.
</p><p>
There are still slums in this shining city on the plain. Like all big cities Houston suffers from the three standard big city problems: Crime, Poverty, and Governmental Corruption. Crime rates are hard to compare across jurisdictions for the lack of independent statistics, needless to say Houston's crime rates are on the high end of American cities.
Poverty is still a problem in Houston, but the opportunities for blue collar employment in, Housing Construction and Manufacturing are still here unlike most other cities.
</p><p>
Americas multicultural future is being played out in Houston.
Houston has the largest Vietnamese population outside the west coast.
Fort Bend county (the county containing Houston's Southwest Suburbs), is very close to 25% Anglo, 25% Hispanic, 25% Asian, and 25% Black.
Multiculturalism only works when the cultures are compatible, and you have a rare base culture that is meritocratic, non self-effacing, and against busybodies of all stripes.
Houstonians have all three of those qualities in spades.
</p><p>
Houston (because of its lack of zoning) provides a important control case in how American cities would operate without zoning.
Houston has some things in its building codes that would be nice to get rid of such as minimum parking rules and front building offsets would be nice to get rid of.
But by in large Houston is proof that zoning is a unnecessary burden on cities and should be abolished, and replaced with deed restrictions (also known as covenants).
</p><p>
Houston is the most important city because look around you:
everything is made with plastics;
or wood protected with lacquers made with petroleum;
the electricity made with natural gas, coal, or nuclear;
the cars, trucks, and buses powered by gasoline and diesel;
the heat in your house from natural gas, or fuel oil.
</p>
<h2 class="segment">Bibliography</h2>
<ol>
	<li id="gattis1">Gattis&mdash;Houston Strategies (<a href="http://houstonstrategies.com/">http://houstonstrategies.com/</a>)</li>
	<li>Kotkin &amp; Gattis&mdash;Opportunity Urbanism 2014 (<a href="http://www.houston.org/economy/">http://www.houston.org/economy/</a>)</li>
	<li>Kotkin &amp; Gattis&mdash;Opportunity Urbanism Policy Framework (<a href="http://www.houston.org/economy/">http://www.houston.org/economy/</a>)</li>
	<li>Housing America Building Our Way Out Of A Crisis (<a href="https://play.google.com/store/books/details?id=-bJDepsNtuQC">https://play.google.com/store/books/details?id=-bJDepsNtuQC</a>)</li>
</ol>
