{"title": "Melting Pots and Salad Bowls",
 "slug": "meltingpot-vs-saladbowl",
 "author": "George Rogers",
 "date": "2016-12-06T13:38:00-06:00"}

<p>
There are two models of multiculturalism melting pots and salad bowls.
The Melting Pot model works (if followed slavishly), but the Salad Bowl model is inherently a failure. 
The model that works or the <em>Melting Pot Model</em> is the model that is traditionally followed in the U.S.
It is still followed in Texas and other conservative States.
The city that best exemplifies this model is Houston.
Houston best exemplifies this model because it is a port city with a conservative Anglo-American base culture.
Port cities attract by their very industries a people that are better suited for the melting pot model.
But this is not the only factor that makes Houston work:
The other factor is its conservative culture which ensures that the melting pot model is followed slavishly.
</p>
<p>
What are the most important things that make a Melting Pot Culture:
<ol>
  <li>Speak English or GTFO</li>
  <li>Jobs and Economic Growth (especially at the lower rungs of the ladder)</li>
  <li>Enforcement of immigration laws</li>
</ol>
</p>
