{"title": "Messiness and Vibrancy", "slug": "messiness", "author": "George Rogers", "date": "2017-04-29T10:00:09-05:00"}

<p>
Messy cities are more vibrant than cute towns.
Lets take San Francisco, CA as an example:
It is a overgrown provincial center:
If you want that that's fine but don't call San Francisco a global city.
Houston on the other hand is a glorious mess of a city whose messiness is the source of its vibrancy!
</p><p>
Messy cities handle diversity better.
</p>
