{"title": "Sprawl: A Defense Thereof", "author": "George Rogers", "date": "2017-01-06T13:13:00-06:00", "slug": "sprawl"}

<p>
  Sprawl is how most people want to live; because it is convenient and cheap, and in the market that is all that matters.
  Before the advent of mass auto-mobility, most people were trapped in 500sq ft shit box apartments 4 to each one.
  Is that your goal.
  To have walk-ability at a high level you must have that level of density.
  For you say you can't build higher that 5 floors, because any building taller than that isolates from the street.
  You cannot go back to what never was.  
</p>
<p>
  There are <a href="http://ti.org/antiplanner/?p=12438">statistics</a> that increasing density, once widespread automobile usage hits the society, does not decrease car usage.
</p>

